.wrapper {
    width: 600px;
    overflow: hidden;
    float: left;
}

.list {
    list-style: none;
    width: 10000px;
    padding: 0;
    position: relative;
}

.item {
    display: block;
    margin-right: 25px;
    float: left;

}

.item img {
    max-width: 100px;
}

.arrow-left,
.arrow-right{
  float: left;
  display: block;
   border: 1px solid grey;
   background-color: lightgrey;
   padding: 5px;
   margin-top: 50px;
}

.arrow-left:hover, .arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

.arrow-left {
    margin-right: 25px;
}

.arrow-right {
    margin-left: 25px;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
}
.fio,
.want,
.contacts {
  border-bottom: 2px solid gray;
  margin-left: 20%;
  width: 450px
}
.feedback {
  margin-left: 20%;
  width: 450px
}
